body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#slider {
  width: 500px;
  height: 400px;
  background-color: red;
  margin: 200px auto;
}

i {
  color: black;
}

.arrowIcons {
  width: 50px;
  height: auto;
  color: rgb(32, 32, 70);
  transition: all 0.2s linear;
  display: block;
  cursor: pointer;
}

.arrowButtons {
  position: absolute;
  background-color: none;
  border: none;
  outline: none;
}

.arrowIcons:hover {
  width: 53px;
}

#right {
  left: 800px;
  top: 370px;
}

#left {
  right: 800px;
  top: 370px;
}

#slideImg {
  width: 100%;
  height: 400px;
}

.circles {
  background-color: rgb(32, 32, 70);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px 10px;
  cursor: pointer;
}

.circles:focus {
  background-color: rgb(96, 96, 139);
}

.circleCon {
  width: 100%;
  display: flex;
  justify-content: center;
}
